@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Ubuntu, Geneva, Tahoma, sans-serif; }

/* MAIN CSS */
.mainInicio {
  margin: 10px;
  padding: 0px;
  border: 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "misNoticias";
  justify-items: center;
  padding-top: 60px; }

.row {
  grid-area: misNoticias;
  width: 100%; }

/* FOTOS */
.mainGrid, .mainFotos {
  display: grid; }

.mainFotos {
  margin: 0px;
  border: 0px;
  padding: 0px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas: ". misFotos .";
  justify-items: center; }

.carousel {
  grid-area: misFotos;
  width: 100%; }

#carouselExampleControls {
  padding-top: 50px;
  padding-bottom: 50px; }

.mainVideos {
  justify-content: center;
  align-content: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  padding-top: 0px; }

.mainContacto {
  width: 100%;
  margin: 0px;
  border: 0px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
  grid-template-areas: ". formulario .";
  align-items: center;
  padding-top: 80px;
  padding-bottom: 20px; }

.mainRefugios {
  padding-top: 80px; }

/* VIDEOS */
.videos {
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  justify-content: center;
  display: grid;
  grid-template-columns: 29% 1% 29% 1% 29%;
  grid-template-rows: 300px 300px;
  grid-template-areas: "video1 . video2 . video3" "video4 . video5 . video6";
  align-items: center;
  justify-content: center; }

.video-1 {
  grid-area: video1;
  width: 80%;
  height: 80%;
  padding: 0px; }

.video-2 {
  grid-area: video2;
  width: 80%;
  height: 80%;
  padding: 0px; }

.video-3 {
  grid-area: video3;
  width: 80%;
  height: 80%;
  padding: 0px; }

.video-4 {
  grid-area: video4;
  width: 80%;
  height: 80%;
  padding: 0px; }

.video-5 {
  grid-area: video5;
  width: 80%;
  height: 80%;
  padding: 0px; }

.video-6 {
  grid-area: video6;
  width: 80%;
  height: 80%;
  padding: 0px; }

div iframe {
  border-radius: 2em;
  transform: scale(1, 1);
  transition: all 1s; }

/* BODY FOOTER HEADER */
body footer {
  background-image: linear-gradient(lightBlue, white, lightBlue);
  text-align: center;
  list-style-type: none;
  width: 100%; }
  body footer p {
    padding-top: 0px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    text-shadow: 2px 2px 2px black; }

body header {
  background-color: black;
  background-image: url("../img/perritos1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 180px; }
  body header p {
    color: white;
    font-size: 60px;
    text-align: center;
    font-style: normal;
    text-shadow: 4px 4px 4px black; }
  body header nav ul li a {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    font-style: normal;
    width: 250px;
    border-radius: 1em;
    background-image: linear-gradient(cyan, #09a1d3);
    color: white;
    text-shadow: 4px 4px 4px black;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center; }
  body header nav ul li a:hover {
    color: white;
    background-image: linear-gradient(#09a1d3, cyan);
    text-shadow: 4px 4px 4px black; }
  body header nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 5px;
    font-style: normal;
    width: 80%; }

/* FORMULARIO DE CONTACTO */
.formulario {
  grid-area: formulario;
  width: 100%; }

/* FOTOS */
.fotografia1 {
  grid-area: foto1;
  width: 80%;
  height: 80%; }

.fotografia2 {
  grid-area: foto2;
  width: 80%;
  height: 80%; }

.fotografia3 {
  grid-area: foto3;
  width: 80%;
  height: 80%; }

.fotografia4 {
  grid-area: foto4;
  width: 80%;
  height: 80%; }

.fotografia5 {
  grid-area: foto5;
  width: 80%;
  height: 80%; }

.fotografia6 {
  grid-area: foto6;
  width: 80%;
  height: 80%; }

.fotografia7 {
  grid-area: foto7;
  width: 80%;
  height: 80%; }

.fotografia8 {
  grid-area: foto8;
  width: 80%;
  height: 80%; }

.fotografia9 {
  grid-area: foto9;
  width: 80%;
  height: 80%; }

.fotografia10 {
  grid-area: foto10;
  width: 80%;
  height: 80%; }

.fotos {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 300px 300px;
  grid-template-areas: "foto1 foto2 foto3 foto4 foto5" "foto6 foto7 foto8 foto9 foto10";
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px; }

/* MENU */
.menu {
  display: grid;
  font-size: 30px;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  grid-template-areas: "opcion1 opcion2 opcion3 opcion4 opcion5";
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border: 0px; }

.opcion-1 {
  grid-area: opcion1;
  width: 100%; }

.opcion-2 {
  grid-area: opcion2;
  width: 100%; }

.opcion-3 {
  grid-area: opcion3;
  width: 100%; }

.opcion-4 {
  grid-area: opcion4;
  width: 100%; }

.opcion-5 {
  grid-area: opcion5;
  width: 100%; }

.opcion-6 {
  grid-area: opcion6;
  width: 100%; }

/* Tabla */
td {
  height: 50px;
  justify-content: center; }

/* Pantallas Pequeñas */
@media only screen and (max-width: 600px) {
  body header {
    height: 250px; }
    body header p {
      padding-top: 2px;
      font-size: 25px;
      text-shadow: 2px 2px 2px black; }
  body footer p {
    font-size: 20px;
    text-shadow: 2px 2px 2px black; }
  .contenedorFormulario {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "formulario";
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    width: 100%; }
  .videos {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    justify-content: center;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "video1" "video2" "video3" "video4" "video5" "video6";
    align-items: center;
    justify-items: center; }
  fieldset label {
    font-size: 15px;
    margin: 5px; }
  fieldset input {
    font-size: 15px;
    margin: 5px;
    width: 125px; }
  form textarea {
    font-size: 15px;
    margin: 5px; }
  form textarea {
    font-size: 15px;
    margin: 5px; }
  .menu {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    border: 0px; }
  nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 5px;
    font-style: normal;
    width: 80%; }
  .video-1 {
    grid-area: video1;
    width: 100%;
    height: 188px;
    padding: 10px; }
  .video-2 {
    grid-area: video2;
    width: 100%;
    height: 188px;
    padding: 10px; }
  .video-3 {
    grid-area: video3;
    width: 100%;
    height: 188px;
    padding: 10px; }
  .video-4 {
    grid-area: video4;
    width: 100%;
    height: 188px;
    padding: 10px; }
  .video-5 {
    grid-area: video5;
    width: 100%;
    height: 188px;
    padding: 10px; }
  .video-6 {
    grid-area: video6;
    width: 100%;
    height: 188px;
    padding: 10px; }
  /* Fotografías */
  .mainFotos {
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: ". misFotos .";
    justify-items: center; }
  .carousel {
    grid-area: misFotos;
    width: 100%; }
  #carouselExampleControls {
    padding-top: 50px;
    padding-bottom: 50px; }
  .mainInicio {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainVideos {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainRefugios {
    padding-top: 50px;
    padding-bottom: 50px; }
  .mainContacto {
    padding-top: 50px;
    padding-bottom: 50px; } }

/* Pantallas Medianas */
@media only screen and (min-width: 600px) {
  body header {
    height: 100px; }
    body header p {
      padding-top: 2px;
      font-size: 25px;
      text-shadow: 2px 2px 2px black; }
  body footer p {
    font-size: 20px;
    text-shadow: 2px 2px 2px black; }
  .contenedorFormulario {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 10fr;
    grid-template-areas: ". formulario .";
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    font-size: 15px; }
  .videos {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    justify-content: center;
    display: grid;
    grid-template-columns: 48% 1% 48%;
    grid-template-rows: 300px 10px 300px;
    grid-template-areas: "video1 . video2" "video3 . video4" "video5 . video6";
    align-items: center;
    justify-content: center; }
  fieldset label {
    font-size: 15px;
    margin: 5px; }
  fieldset input {
    font-size: 15px;
    margin: 5px;
    width: 125px; }
  form textarea {
    font-size: 15px;
    margin: 5px; }
  form textarea {
    font-size: 15px;
    margin: 5px; }
  .menu {
    display: grid;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    border: 0px; }
  .video-1 {
    grid-area: video1;
    width: 100%;
    height: 160px;
    padding: 10px; }
  .video-2 {
    grid-area: video2;
    width: 100%;
    height: 160px;
    padding: 10px; }
  .video-3 {
    grid-area: video3;
    width: 100%;
    height: 160px;
    padding: 10px; }
  .video-4 {
    grid-area: video4;
    width: 100%;
    height: 160px;
    padding: 10px; }
  .video-5 {
    grid-area: video5;
    width: 100%;
    height: 160px;
    padding: 10px; }
  .video-6 {
    grid-area: video6;
    width: 100%;
    height: 160px;
    padding: 10px; }
  /* Fotografías */
  .mainFotos {
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: ". misFotos .";
    justify-items: center; }
  .carousel {
    grid-area: misFotos;
    width: 100%; }
  #carouselExampleControls {
    padding-top: 100px;
    padding-bottom: 100px; }
  .mainInicio {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainVideos {
    padding-top: 0px; }
  .mainRefugios {
    padding-top: 60px; }
  .mainContacto {
    padding-top: 60px;
    padding-bottom: 40px; } }

/* Pantallas Mayores */
@media only screen and (min-width: 900px) {
  /* VIDEOS */
  .videos {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    justify-content: center;
    display: grid;
    grid-template-columns: 48% 1% 48%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "video1 . video2" "video3 . video4" "video5 . video6";
    align-items: center;
    justify-content: center; }
  .video-1 {
    grid-area: video1;
    width: 100%;
    height: 250px;
    padding: 10px; }
  .video-2 {
    grid-area: video2;
    width: 100%;
    height: 250px;
    padding: 10px; }
  .video-3 {
    grid-area: video3;
    width: 100%;
    height: 250px;
    padding: 10px; }
  .video-4 {
    grid-area: video4;
    width: 100%;
    height: 250px;
    padding: 10px; }
  .video-5 {
    grid-area: video5;
    width: 100%;
    height: 250px;
    padding: 10px; }
  .video-6 {
    grid-area: video6;
    width: 100%;
    height: 250px;
    padding: 10px; }
  div iframe {
    border-radius: 2em;
    transform: scale(1, 1);
    transition: all 1s; }
  /* HEADER */
  body header {
    height: 150px; }
    body header p {
      padding-top: 0px;
      font-size: 40px;
      text-align: center;
      font-style: normal;
      text-shadow: 4px 4px 4px black; }
  /* FOOTER */
  body footer p {
    font-size: 30px;
    text-shadow: 2px 2px 2px black; }
  div iframe {
    border-radius: 2em;
    transform: scale(1, 1);
    transition: all 1s; }
  /* FOTOS */
  .mainFotos {
    margin: 10px;
    border: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: ". misFotos .";
    justify-items: center; }
  .carousel {
    grid-area: misFotos;
    width: 100%; }
  #carouselExampleControls {
    padding-top: 120px;
    padding-bottom: 120px; }
  /* MENU */
  .menu {
    display: grid;
    font-size: 20px;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    grid-template-areas: "opcion1 opcion2 opcion3 opcion4 opcion5";
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border: 0px; }
  nav ul li a {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    font-style: normal;
    width: 250px;
    border-radius: 1em;
    background-image: linear-gradient(cyan, #09a1d3);
    color: white;
    text-shadow: 4px 4px 4px black;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center; }
  nav ul li a:hover {
    color: white;
    background-image: linear-gradient(#09a1d3, cyan);
    text-shadow: 4px 4px 4px black; }
  nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 5px;
    font-style: normal;
    width: 80%; }
  .opcion-1 {
    grid-area: opcion1;
    width: 100%; }
  .opcion-2 {
    grid-area: opcion2;
    width: 100%; }
  .opcion-3 {
    grid-area: opcion3;
    width: 100%; }
  .opcion-4 {
    grid-area: opcion4;
    width: 100%; }
  .opcion-5 {
    grid-area: opcion5;
    width: 100%; }
  .opcion-6 {
    grid-area: opcion6;
    width: 100%; }
  .mainInicio {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainVideos {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainRefugios {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainContacto {
    padding-top: 20px;
    padding-bottom: 20px; } }

/* Pantallas Grandes */
@media only screen and (min-width: 1024px) {
  .mainInicio {
    margin: 10px;
    padding: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "misNoticias";
    justify-items: center;
    padding-top: 20px; }
  .row {
    grid-area: misNoticias;
    width: 100%; }
  /* FOTOS */
  .mainFotos {
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: ". misFotos .";
    justify-items: center; }
  .carousel {
    grid-area: misFotos;
    width: 100%; }
  #carouselExampleControls {
    padding-top: 100px;
    padding-bottom: 100px; }
  .mainVideos {
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    padding-top: 20px; }
  .mainContacto {
    width: 100%;
    margin: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: ". formulario .";
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainRefugios {
    padding-top: 20px;
    padding-bottom: 20px; }
  /* VIDEOS */
  .videos {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    justify-content: center;
    display: grid;
    grid-template-columns: 29% 1% 29% 1% 29%;
    grid-template-rows: 300px 300px;
    grid-template-areas: "video1 . video2 . video3" "video4 . video5 . video6";
    align-items: center;
    justify-content: center; }
  .video-1 {
    grid-area: video1;
    width: 80%;
    height: 80%;
    padding: 10px; }
  .video-2 {
    grid-area: video2;
    width: 80%;
    height: 80%;
    padding: 10px; }
  .video-3 {
    grid-area: video3;
    width: 80%;
    height: 80%;
    padding: 10px; }
  .video-4 {
    grid-area: video4;
    width: 80%;
    height: 80%;
    padding: 10px; }
  .video-5 {
    grid-area: video5;
    width: 80%;
    height: 80%;
    padding: 10px; }
  .video-6 {
    grid-area: video6;
    width: 80%;
    height: 80%;
    padding: 10px; }
  div iframe {
    border-radius: 2em;
    transform: scale(1, 1);
    transition: all 1s; }
  /* HEADER */
  body footer {
    background-image: linear-gradient(lightBlue, white, lightBlue);
    text-align: center;
    list-style-type: none;
    width: 100%; }
    body footer p {
      padding-top: 0px;
      color: white;
      font-size: 30px;
      text-align: center;
      font-style: normal;
      text-shadow: 2px 2px 2px black; }
  body header {
    background-color: black;
    background-image: url("../img/perritos1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px; }
    body header p {
      color: white;
      font-size: 50px;
      text-align: center;
      font-style: normal;
      text-shadow: 4px 4px 4px black; }
    body header nav ul li a {
      text-decoration: none;
      list-style-type: none;
      display: flex;
      font-style: normal;
      width: 250px;
      border-radius: 1em;
      background-image: linear-gradient(cyan, #09a1d3);
      color: white;
      text-shadow: 4px 4px 4px black;
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center; }
    body header nav ul li a:hover {
      color: white;
      background-image: linear-gradient(#09a1d3, cyan);
      text-shadow: 4px 4px 4px black; }
    body header nav ul li {
      text-decoration: none;
      list-style-type: none;
      padding: 0px 0px 0px 0px;
      margin: 5px;
      font-style: normal;
      width: 80%; }
  /* FORMULARIO DE CONTACTO */
  .formulario {
    grid-area: formulario;
    width: 100%; }
  /* FOTOS */
  .fotografia1 {
    grid-area: foto1;
    width: 80%;
    height: 80%; }
  .fotografia2 {
    grid-area: foto2;
    width: 80%;
    height: 80%; }
  .fotografia3 {
    grid-area: foto3;
    width: 80%;
    height: 80%; }
  .fotografia4 {
    grid-area: foto4;
    width: 80%;
    height: 80%; }
  .fotografia5 {
    grid-area: foto5;
    width: 80%;
    height: 80%; }
  .fotografia6 {
    grid-area: foto6;
    width: 80%;
    height: 80%; }
  .fotografia7 {
    grid-area: foto7;
    width: 80%;
    height: 80%; }
  .fotografia8 {
    grid-area: foto8;
    width: 80%;
    height: 80%; }
  .fotografia9 {
    grid-area: foto9;
    width: 80%;
    height: 80%; }
  .fotografia10 {
    grid-area: foto10;
    width: 80%;
    height: 80%; }
  .fotos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 300px 300px;
    grid-template-areas: "foto1 foto2 foto3 foto4 foto5" "foto6 foto7 foto8 foto9 foto10";
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px; }
  /* MENU */
  .menu {
    display: grid;
    font-size: 30px;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    grid-template-areas: "opcion1 opcion2 opcion3 opcion4 opcion5";
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border: 0px; }
  .opcion-1 {
    grid-area: opcion1;
    width: 100%; }
  .opcion-2 {
    grid-area: opcion2;
    width: 100%; }
  .opcion-3 {
    grid-area: opcion3;
    width: 100%; }
  .opcion-4 {
    grid-area: opcion4;
    width: 100%; }
  .opcion-5 {
    grid-area: opcion5;
    width: 100%; }
  .opcion-6 {
    grid-area: opcion6;
    width: 100%; } }

/* Pantallas Muy Grandes */
